@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shantell+Sans:ital,wght@1,600&display=swap');

* {
    font-family: 'Shantell Sans', cursive;
}

/* body {
    background-color: gray;
} */

h1 {
    text-align: center;
    color: #3A5874;
    margin-top: 10px;
    font-size: 4rem;
}

h3 {
    text-align: center;
    color:#998B7B;
}

.textareacontainer {
    display: flex;
    justify-content: center;
}

textarea{
    border: 1px solid #a9a6a6;
    border-radius: 6px;
}

.addnotecontainer {

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#addnotebutton {
    appearance: none;
    background-color: transparent;
    border: 1px solid #a9a6a6;
    border-radius: 6px;
    box-sizing: border-box;
    color: #3A5874;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 9px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    will-change: transform;
}

#addnotebutton:disabled {
    pointer-events: none;
}

#addnotebutton:hover {
    color: #fff;
    background-color: #3A5874;
    transform: translateY(-2px);
}

#addnotebutton:active {
    transform: translateY(0);
}

.col-sm-6{
    padding-bottom: 10px;
}

.card-text, .modal-text, #text_area, .textAreaModal{
    color: #3A5874;
}

#save_changes {
    background-color: #3A5874;
    ;

}
